<launch>
  <!-- Launch the Gazebo world
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/> -->

  <!-- Spawn the model in the Gazebo world -->
  <node name="model_1_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find my_gazebo_sim)/models/person_standing/model.sdf -sdf -model person_standing -x -3 -y -5 -z 0" />

  <node name="model_2_spawn" pkg="gazebo_ros" type="spawn_model" args="-file $(find my_gazebo_sim)/models/human_female_3/model.sdf -sdf -model human_female_3 -x 4.35 -y -1.83 -z 0" />

  <!-- Run the Python plugin to move the model -->
  <node name="move_plugin" pkg="my_gazebo_sim" type="move_plugin.py" output="screen"/>

  <node name="move_person2_plugin" pkg="my_gazebo_sim" type="move_model2.py" output="screen"/>
</launch>
